@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Oxygen:wght@300;400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center vertically */
    background-color: #A9BB89;
}

.header {
    background-color: #F5F5F5;
    margin-top: 30px;
}

#task-num {
    color: #6E5398;
    font-family: 'Jua', sans-serif; /* Specify fallback font */
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 393px;
    padding: 10px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.duck-icon {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    background-image: url('./assets/duck-icon.png');
    background-size: cover;
    background-color: #F8E3A0;
    border-radius: 100%;
    margin-top: 32px;
}

.desc-box {
    display: flex;
    flex-wrap: wrap;
    background-color: #F5F5F5;
    height: 150px;
    width: 260px;
    margin-top: 32px;
    justify-content: center;
    align-items: center;
}

#task-desc {   
    display: flex;
    flex-wrap: wrap;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    color: #000;
    padding: 15px;
}

#hint-button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 50px;
    height: 25px;
    background-color: #E6A5B9;
    color: #FFFFFF;
    font-family: Jua;
    font-size: 20px;
    line-height: normal;
    border-radius: 20px;
    padding: 5px 18px;
    margin-top: 15px;
}

.password {
    display: flex;
    align-items: center;
}

#password-label {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 25px;
    background-color: #b5a6cf;
    color: #FFFFFF;
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    line-height: normal;
    padding: 10px;
    margin-bottom: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#password-input {
    width: 200px;
    height: 25px;
    background-color: #F5F5F5;
    color: #000000;
    font-family: 'Jua', sans-serif;
    font-size: 18px;
    line-height: normal;
    padding: 10px;
    border: none;
    margin-top: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#submit-button{
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 100px;
    height: 50px;
    background-color: transparent;
    color: #FFFFFF;
    font-family: Jua;
    font-size: 20px;
    line-height: normal;
    border-radius: 20px;
    border: 4px solid #6A8371;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 29px;
}